#page-reach svg .axis path,
#page-reach svg .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#page-reach svg .x.axis path {
  display: none;
}
#page-reach svg .line {
  fill: none;
  stroke-width: 2px;
}
#page-publish .tag-list {
  display: inline;
}
