#page-reach svg .axis path,
#page-reach svg .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#page-reach svg .x.axis path {
  display: none;
}
#page-reach svg .line {
  fill: none;
  stroke-width: 2px;
}
#page-publish .tag-list {
  display: inline;
}
#page-publish .publish-item img {
  max-height: 80px;
}
#page-publish form {
  height: 120px;
}
#page-publish form .col {
  float: left;
  margin-right: 20px;
  position: relative;
  height: 120px;
}
#page-publish form .create-button {
  position: absolute;
  bottom: 0;
}
#page-publish form .add-tag-button {
  margin-top: -10px;
}
