<div id="page-about">
    <h2>Notes on the implementation</h2>
    <h3>Data</h3>
    <p>
        I've (somewhat randomly) selected few of the properties on the publishing item json blobs, as I didn't find it relevant to implement and visualize them all. There is no file uploading implemented, just a URL for an image.
    </p>
    <p>
        There's not a full CRUD interface implemented, just a few methods needed for the given tasks. Completing the api wouldn't be very difficult, and could be made cleaner by automating some of the REST interface.
    </p>
    <p>
        There is no attached database engine involved. Everything is saved in, and served from, memory.
    </p>

    <h3>Visualization</h3>
    <p>
        The graph showing the data is not excatly beautiful. I might have chosen a wrong visualization method (the simple line plot), but I still think it serves the purpose of visualizing data using d3.js. The generated data is completely random and makes no sense.
    </p>

    <h3>Lacks</h3>
    <p>
        All scripts are loaded one by one, and the order in which the script tags appear matter. This is obviously inefficient and unmaintainable. In a production environment I would use a build system to automate concatenation and minification of both styles and scripts. Another option (for scripts only) would be using an AMD loader like RequireJS.
    </p>

    <h3>Architecture</h3>
    <p>
        I've aimed toward a maintainable and clear structure that should be easy for others developers to figure out. All front-end resources are located in the public section which is served statically from node. Back-end is run from the project root.
    </p>
    <p>
        I haven't focused on testing at all, hence no tests.
    </p>

    <h3>My background</h3>
    <p>
        I'd like to be transparent regarding my experience with the technologies in use. I've never used d3.js for anything other than "hello world", so this was a new experience to me. Same goes for implementing sockets with socket.io :)
    </p>
</div>