<div id="page-publish">
    <h2>Publishing items</h2>

    <ul data-bind="foreach: items" class="inline">
        <li>
            <div>Message: <span data-bind="text: content.message"></span></div>
            <div>Network: <span data-bind="text: content.network"></span></div>
            <div>Type: <span data-bind="text: content.postType"></span></div>
            <div class="tags">
                <span>Tags:</span>
                <ul data-bind="foreach: tags" class="inline tag-list">
                    <li><span data-bind="text: $data" class="label label-info"></span></li>
                </ul>
            </div>
            <img data-bind="attr: { src:content.media.url }"/>
        </li>
    </ul>
</div>